{% extends 'base/base.html' %}

{% block content %}

    <main class="main container d-flex flex-column justify-content-center align-items-center">
        <form method="post" class="w-50 d-flex flex-column align-items-center">
            <h1 class="fs-2 m-0 text-center">¿Olvidaste la contraseña?</h1>
            <label class="text-gris d-block fw-bold my-2 text-center">
                No te preocupes, te enviaremos instrucciones para reiniciar tu contraseña
            </label>
            {% csrf_token %}
            <div class="w-50 my-4">
                <div class="mb-4">
                    <label class="d-block pb-1 fs-7 fw-bold" for="password">Correo electrónico</label>
                    {{ form.email }}
                </div>
                <input class="w-100 fs-7 bg-dark text-white border border-dark rounded-2 py-1 px-3" type="submit" value="Enviar">
            </div>
        </form>
        <a class="my-4 text-dark text-decoration-none fs-7 bg-white border border-dark rounded-4 py-1 px-3"
            href="{% url 'login' %}"><i class="fa-solid fa-arrow-left fs-8"></i> Volver a iniciar sesión</a>
    </main>

{% endblock %}