{% extends 'base/base.html' %}


{% block content %}

<main class="main container d-flex flex-column justify-content-center align-items-center">
    <label for="" class="d-block fs-2 mb-1"><i class="fa-regular fa-envelope"></i></label>
    <h1 class="fs-2 m-0 text-center">Revisa tu correo electrónico</h1>
    <label class="text-gris d-block my-2 text-center">
        Te enviamos un enlace para restablecer tu contraseña.
    </label>
        
    <a class="my-4 text-dark text-decoration-none fs-7 bg-white border border-dark rounded-4 py-1 px-3"
        href="{% url 'login' %}"><i class="fa-solid fa-arrow-left fs-8"></i> Volver a iniciar sesión</a>
</main>
    
{% endblock %}