{% extends "base/dashboard_base.html" %}

{% block content %}

{% include "elements/dashboard_sidebar.html" with role=role %}

{% include "elements/messages.html" %}

<main class="main p-4 pt-2 pe-5">
    <div class="{{ color }} p-4 rounded-4 my-4">
        <div class="row">
            {% if role == 'student' %}
                <div class="col-10">
                    <h1>Hola {{ name }}</h1>
                    <p class="fs-6 m-0"> {{ recommendation.description }}</p>
                </div>
                <div class="col-2 text-center">
                    <h1>{{ stress }}</h1>
                    <p class="m-0">Nivel de Estrés</p>
                </div>
            {% else %}
                <div class="col-12">
                    <h1>Hola {{ name }}</h1>
                    <p class="fs-6 text-gris m-0">
                        ¡Que tengas un excelente día!
                    </p>
                </div>
            {% endif %}
        </div>
    </div>

    {% if role == 'student' %}
    
        <div class="mb-4">
            <label class="text-grisillo fw-bold my-2">Tarea</label>
            {% if not task %}
                <div class="bg-inf p-3 rounded-2 text-gris">
                    <i class="fas fa-info-circle"></i> No tienes tareas asignadas por el momento.
                </div>
            {% else %}
                <div class="p-3 rounded-2 text-gris border border-1">
                        <div class="row">
                            <div class="col-10">
                                <i class="fa-solid fa-list me-3"></i>{{ task.title }}
                            </div>
                            <div class="col-2 text-end">
                                <div class="ms-4 bg-color-grisillo py-1 px-3 border d-inline rounded-3 fs-7">
                                    {{ task.date }}
                                </div>
                            </div>
                        </div>
                </div>
            {% endif %}
        </div>
        
        <div class="mb-4">
            <label class="text-grisillo fw-bold my-2">Test</label>
        {% if not test %}
        <div class="bg-inf p-3 rounded-2 text-gris">
            <i class="fas fa-info-circle"></i> No tienes tests asignadas por el momento.
        </div>
        {% else %}
        <div class="p-3 rounded-2 text-gris border border-1">
            <div class="row">
                <div class="col-10">
                    <i class="fa-regular fa-pen-to-square me-3"></i>{{ test.title }}
                </div>
                <div class="col-2 text-end">
                        {% if not test.state %}
                            <div class="ms-4 p-1 d-inline rounded-4 fs-7">
                                <a href="{% url 'test' test.id %}" class="text-decoration-none border border-dark text-dark py-1 px-3 rounded-3 fs-7">Realizar Test</a>
                            </div>
                        {% else %}    
                            <div class="ms-4 bg-color-grisillo py-1 px-3 border d-inline rounded-3 fs-7">
                                Completado
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
        </div>

    {% elif role == 'teacher' %}
        
        <div class="mb-4">
            <label class="text-grisillo fw-bold my-2">Estudiantes <i class="fas fa-info-circle fs-8" title="Lista de los estudiante con mas nivel de estres del curso"></i></label>
            {% if not top_3_stressed_students %}
                <div class="bg-inf p-3 rounded-2 text-gris">
                    <i class="fas fa-info-circle"></i> No existen estudiantes con niveles altos de estres.
                </div>
            {% else %}
                {% for student in top_3_stressed_students %}
                    <div class="p-3 rounded-2 text-gris border border-1 my-2">
                        <div class="row">
                            <div class="col-9">
                                <i class="fa-solid fa-user me-3"></i>{{ student.first_name }} {{ student.last_name }}
                            </div>
                            <div class="col-3 text-end">
                                <div class="ms-4 bg-color-grisillo py-1 px-3 border d-inline rounded-3 fs-7">
                                    Nivel de estres: {{ student.stress }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="mb-4">
            <label class="text-grisillo fw-bold my-2">Curso <i class="fas fa-info-circle fs-8" title="Promedio del nivel de estres del curso"></i></label>
            {% if not course_teaching %}
                <div class="bg-inf p-3 rounded-2 text-gris">
                    <i class="fas fa-info-circle"></i> No estas asignado a un curso por el momento.
                </div>
            {% elif not top_3_stressed_students %}
                <div class="bg-inf p-3 rounded-2 text-gris">
                    <i class="fas fa-info-circle"></i> No existen estudiantes con niveles de estres.
                </div>
            {% else %}
                <div class="p-3 rounded-2 text-gris border border-1">
                        <div class="row">
                            <div class="col-9">
                                <i class="fa-solid fa-book me-3"></i>{{ course_teaching.name }}
                            </div>
                            <div class="col-3 text-end">
                                <div class="ms-4 bg-color-grisillo py-1 px-3 border d-inline rounded-3 fs-7">
                                    Promedio nivel de estres: {{ average_stress }}
                                </div>
                            </div>
                        </div>
                </div>
            {% endif %}
        </div>

    {% else %}

        <div class="mb-4">
            <label class="text-grisillo fw-bold my-2">Cursos <i class="fas fa-info-circle fs-8" title="Lista de Cursos"></i></label>
            {% if not courses %}
                <div class="bg-inf p-3 rounded-2 text-gris">
                    <i class="fas fa-info-circle"></i> No existen cursos por el momento.
                </div>
            {% else %}
                {% for course in courses %}
                <div class="p-3 rounded-2 text-gris border border-1 my-2">
                    <div class="row">
                        <div class="col-6">
                            <i class="fa-solid fa-book me-3"></i>{{ course.name }}
                        </div>
                        <div class="col-6 text-end">
                            {{ course.teacher.first_name }} {{ course.teacher.last_name }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="mb-4">
            <label class="text-grisillo fw-bold my-2">Profesores <i class="fas fa-info-circle fs-8" title="Lista de Profesores"></i></label>
            {% if not professors %}
                <div class="bg-inf p-3 rounded-2 text-gris">
                    <i class="fas fa-info-circle"></i> No existen profesores por el momento.
                </div>
            {% else %}
                {% for teacher in professors %}
                    <div class="p-3 my-2 rounded-2 text-gris border border-1">
                        <div class="row">
                            <div class="col-3">
                                {% if teacher.role == 'student' %}
                                    <i class="fa-solid fa-user me-3"></i>
                                {% else %}
                                    <i class="fa-solid fa-user-tie me-3"></i>
                                {% endif %}
                                {{ teacher.first_name }} {{ teacher.last_name }}
                            </div>
                            <div class="col-2 text-center">
                                {{ teacher.dni }}
                            </div>
                            <div class="col-3 text-center ">
                                {{ teacher.email }}
                            </div>
                            <div class="col-2 text-center">
                                {% if teacher.role == 'student' %}
                                    Estudiante
                                {% elif teacher.role == 'teacher' %}
                                    Profesor
                                {% else %}
                                    Administrador
                                {% endif %}
                            </div>
                            <div class="col-2 text-end ">
                                {% if teacher.is_active %}
                                    <div class="ms-4 bg-active py-1 px-3 d-inline rounded-3 fs-7">
                                        activo
                                    </div>
                                {% else %}
                                    <div class="ms-4 bg-incative py-1 px-3 d-inline rounded-3 fs-7">
                                        inactivo
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

    {% endif %}

</main>

{% endblock %}