{% extends "base/dashboard_base.html" %}

{% block content %}

{% include "elements/dashboard_sidebar.html" with role=role %}

<main class="main container">
    <h1>Test</h1>
    <div class="container mb-4">
        <label class="text-grisillo fw-bold my-2">Test</label>
        {% if not tests %}
            <div class="bg-inf p-3 rounded-2 text-gris">
                <i class="fas fa-info-circle"></i> No tienes tests asignadas por el momento.
            </div>
        {% else %}
            {% for test in tests %}
                <div class="p-3 rounded-2 text-gris border border-1">
                    <div class="row">
                        <div class="col-10">
                            <i class="fa-solid fa-list me-3"></i>{{ test.title }}
                        </div>
                        <div class="col-2 text-center">
                            {% if not test.state %}
                                <div class="ms-4 p-1 d-inline rounded-4 fs-7">
                                    <a href="{% url 'test' test.test %}" class="text-decoration-none border border-dark text-dark py-1 px-3 rounded-3 fs-7">Realizar Test</a>
                                </div>
                            {% else %}    
                                <div class="ms-4 bg-color-grisillo py-1 px-3 border d-inline rounded-3 fs-7">
                                    Completado
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</main>

{% endblock %}