<header class="header d-flex justify-content-between align-items-center py-3 px-4">
    <div class="px-1">
        <a class="text-dark text-decoration-none fs-4" href="{% url 'panel' %}">StressTrack</a>
    </div>
    <div class="d-flex align-items-center px-1">
        <div class="dropdown me-3">
            <button class="bg-white position-relative border-0" id="notificationDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-regular fa-bell"></i>
                    {% if unread_notifications > 0 %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-noti">
                            {{ unread_notifications }}
                        </span>
                    {% endif %}
            </button>
            <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="notificationDropdown">
                <li class="text-gris m-0 py-2 px-3 fs-8 fw-bold">Notificaciones</li>
                {% if notifications %}
                    {% for notification in notifications %}
                    <li class="px-2 py-1">
                        <a class="dropdown-item border text-gris
                            {% if not notification.is_read %} border-dark text-dark {% endif %} 
                            rounded-2 fs-7" 
                           href="{% url 'notification' notification.id %}">
                            <span class="d-block">{{ notification.message }}</span>
                        </a>
                    </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <a href="{% url 'logout' %}" class="text-decoration-none fs-7 bg-dark text-white border border-dark rounded-4 py-1 px-3">Cerrar Sesión</a>
    </div>
</header>